body {
    font-family: "Fira Code", "Ubuntu Mono", monospace;
    height: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

div#tv-treeControl {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 2.5em;
}

div#tv-treeControl input {
    font-family: inherit;
}

div#tv-treeControl label#tv-showTypesLabel {
    margin-left: -2.2em;
}

div#tv-treeDisplay {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
}

div#tv-defTreeView {
    width: 50%;
}

.tv-treeSymbol {
    font-weight: 600;
}

div#tv-defTreeView span.tv-treeSymbol {
    margin: 0 0.2em;
}

span.tv-treeNodeType {
    margin: 0 0.2em;
}


.jstree-default .jstree-search {
    color: #8b0000;
    font-style: normal;
    font-weight: 400;
}

div#tv-symbolInfoView {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

div.tv-symbolInfoBox {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
}

div.tv-symbolInfoBox > div {
    display: flex;
    flex-direction: column;
}

span.tv-symbolInfoBoxDesc {
    display: block;
}
