body {
    font-family: "Fira Code", "Ubuntu Mono", monospace;
    height: 100%;
    padding: 1em;
    padding-top: 0;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

div#tv-treeControl {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    gap: 2.5em;
    padding-bottom: 1em;
    background: #ffffffe3;
    border-color: #aaaaaa;
    border-width: 2px;
    border-bottom-style: solid;
    position: fixed;
    height: 3em;
}

div#tv-treeControl input {
    font-family: inherit;
}

div#tv-treeControl label#tv-showTypesLabel {
    margin-left: -2.2em;
}

div#tv-treeDisplay {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    margin-top: 5em;
}

div#tv-packageView {
    margin-top: 1em;
}

div#tv-defTreeView {
    width: 50%;
}

.tv-treeSymbol {
    font-weight: 600;
}

.tv-treeType {
    color: #aaaaaa;
}

div#tv-defTreeView span.tv-treeSymbol {
    margin: 0 0.2em;
}

span.tv-treeNodeType {
    margin: 0 0.5em;
}

span.tv-treeNodeDesc {
    margin-right: 0.5em;
}


.jstree-default .jstree-search {
    color: #8b0000;
    font-style: normal;
    font-weight: 400;
}

div#tv-symbolInfoView {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    position: fixed;
    top: 5em;
    right: 4em;
    padding: 1em;
    background: #ffffffe3;
    max-width: 35%;
}

div.tv-symbolInfoBox {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
}

div.tv-symbolInfoBox > div {
    display: flex;
    flex-direction: column;
}

span.tv-symbolInfoBoxDesc {
    display: block;
}
